# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache

# --- Environments ---
.env
.venv
env/
venv/
ENV/

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Machine Learning Specifics ---
# Large data files (CSV, JSON, H5, Parquet, etc.)

*.csv
*.json
*.h5
*.parquet
*.npy
*.npz

# Model weights and artifacts
models/
*.pkl
*.joblib
*.pth
*.onnx
*.pb
*.ckpt

# Log files and experiment tracking
logs/
catboost_info/
mlruns/
lightning_logs/
wandb/

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store